body {
    background-color:#69c9e1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#logo{
    font-family: 'Anton', sans-serif;
    font-size:100px; 
    margin:0;
    text-align: center;
}

#name{
     color:#EEF8FF;
}

#disc{
    text-align:center;
    margin-top:70px;
}
   