
#host{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#codeGenBtn{
    margin-bottom: 5px;
}
#gameCode{
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    margin:auto;
} 

#playerCardContainer{
    width: 80%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#createGameSettings{
    height:400px;
    width: 1000px;
    border: 2px solid black;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#startGameBtn{
    margin-top: 25px;
    border:none;
    height:100px;
    width: 250px;
    border-radius:15px;
    background-color:rgb(7, 208, 57);
    font-size:24px;
}

#startGameBtn:hover{
    cursor: pointer;
    background-color: rgb(8, 169, 48);
  }